<section id="content">
  <div class="row-fluid">
    <div class="span12">




<head>
  <script>
function validateForm()
{

var y=document.forms["emp_prof"]["user[company]"].value;
if (y==null || y=="")
  {
  alert("Company name must be filled out");
  return false;
  }
}
</script>
</head>
<br><br>
<h2> Please add a company name to your profile </h2>

<table class="newemp">
  
 <tbody>


<%= form_for @emp, :url => updy_emp_path, :html => { :id => "emp_prof", :onsubmit => "return validateForm()" } do |f| %>
 <tr><td class="emp"> </td><td><%= f.text_field :company, :placeholder => "Company Name" %></td><td> <%=f.submit 'Add', :class => "btn-dark-sm" %></td></tr> 
  <%= f.hidden_field :id, :value => @emp.id %>

 </tbody>
</table>

<% end %>

<br><br><br><br><br>
<section id="brec">
  <div class="image-break"> </div>
</section>
<section id="message">
<div class="container">
<div class="row-fluid">
<div class="span12 text-center">
<h2>Far and away the best prize that life has to offer is the chance to work hard at work worth doing.<br> ~Theodore Roosevelt 
</h2>
</div>
</div>
</div>
</section>


</div>
</div>
</section>


