
  <section id="content">
    
    <div class="row-fluid">
        <div class="span12">

<h2>Browse Developer Profiles</h2>

<%= render 'users/alumni' %>

</section>



<%= render 'users/alumni' %>

  </div>
</section>

