<section id="blog">
  <div class="container">
    <div class="row-fluid">
      <div class="span10">
        <h2>Browse Developer Profiles</h2>
      </div>
      <div class="span2 text-right"> 
        <%= link_to "Edit Your Employer Profile", edit_employer_profile_path(current_user) %>
      </div>
    </div>

<%= render 'users/alumni' %>

  </div>
</section>

