<section id="content">  
	<div class="container">
  	<div class="row-fluid">
			<h2>Browse Developer Profiles</h2>
			<%= render 'shared/browse_alumni' %>
		</div>
  </div>
</section>

<%= render 'shared/bottom_section' %>

