<h1>Current openings</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.employer == true %>
<%= link_to 'Post a New Job', new_job_path %>
<% end %>