<section id="content">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span12">

        <h2>Current openings</h2>

        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @jobs.each do |job| %>
              <tr>
                <td><%= link_to job.title, job %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <% if current_user.employer == true %>
        <%= link_to 'Post a New Job', new_job_path %>
        <% end %>

      </div>
    </div>
  </div>
</section>