
<!--Content Section One-->
  <section id="blog">
      
      <div class="row-fluid">
    <div class="container">

      <div class="well well-sm">
        <%= render 'simple_search' %>
      </div>
    </div>
    <br>      

       <%= render 'users/alumni' %>
  </section>


