
<!--Content Section One-->
<section id="blog">   
  <div class="container">
    <div class="row-fluid">
<!--       <div class="well well-sm">
        <%#= render 'simple_search' %>
      </div> -->     

    <%= render 'shared/browse_alumni' %>
    
      </div>
    </div>
  </section>


