
<!--Content Section One-->
<section id="blog">   
  <div class="container">
    <div class="row-fluid">
      <div class="well well-sm">
        <%= render 'simple_search' %>
      </div>     

    <%= render 'users/alumni' %>
      </div>
    </div>
  </section>


