  <!--Bottom Section-->
  <section id="bottom">
    <div class="container">
      <div class="row-fluid">
        
        <!--Bottom Section One-->
        <div class="span4">
          <h2>Alumni Stats:</h2>
            <ul>
            	<li><p><strong>Total Alumni: <%= User.where(role: 'alumnus').all.count %></strong></p></li>
            	<li><p><strong>Projects: <%= Project.all.count %></strong></p></li>
            	<li><p><strong>Gems Released: Heaps!</strong></p></li>
            </ul>
        </div>
        
        <!--Bottom Section Two-->
        <div class="span4">
          <h2>Latest Tweets</h2>
          <div class="row-fluid">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/FlatironSchool/ruby-003" data-widget-id="406499265934925824">Tweets from https://twitter.com/FlatironSchool/ruby-003</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          </div>          
        </div>
        
        <!--Bottom Section Three-->
        <div class="span4">
          <h2>Contact Info</h2>
          <p>11 Broadway | Suit 260<br />
          New York, NY 10004</p>
          <p><i class="icon-phone"></i> <a class="more" href="tel:347.729.7911">(347) 729-7911</a></p>
          
          <!--Social Icons-->          
          <ul class="social-icons">
            <li><a class="twitter" href="https://twitter.com/FlatironSchool" target="_blank"><i class="icon-twitter icon-large"></i></a></li>
            <li><a class="facebook" href="https://www.facebook.com/FlatironSchool" target="_blank"><i class="icon-facebook icon-large"></i></a></li>
            <li><a class="instagram" href="http://instagram.com/flatironschool" target="_blank"><i class="icon-camera-retro icon-large"></i></a></li>
            <li><a class="linkedin" href="http://www.linkedin.com/company/the-flatiron-school" target="_blank"><i class="icon-linkedin icon-large"></i></a></li>
            <li><a class="Github" href="https://github.com/flatiron-school/" target="_blank"><i class="icon-github-alt icon-large"></i></a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </section>