<section id="brec">
  <div class="image-break"> </div>
</section>
<section id="message">
	<div class="container">
		<div class="row-fluid">
			<div class="span12 text-center">
				<h2>Never doubt that a small group of thoughtful, committed people can change the world.  Indeed, it is the only thing that ever has.  ~ Margaret Meade</h2>
			</div>
		</div>
	</div>
</section>