<section id="content">
  <div class="container">
      
    <div class="row-fluid">
      <div class="span12">
        <h2>Flatiron Calendar</h2>
        <p class="lead">Learn About Who We Are</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8"> 
        <div class="responsive-iframe-container">
          
          <iframe src="https://www.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=flatironschool.com_h11vtl9a3a6sc4fj04h64mc97k%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=America%2FNew_York" style=" border-width:0 " width="600" height="600" frameborder="0" scrolling="no"></iframe>
       
        </div>
      </div><br />
      <div class="span4">  
      
      <p>Events at the Flatiron School, by Flatiron students, or misc. events that may be of interest.</p>

      
      </div>
    </div>
  </div>
</section>

<%= render 'shared/bottom_section' %>
