  <!-- Carousel -->
  <div id="header" class="carousel slide animated fadeIn">
    <div class="carousel-inner">
        <!--Item One-->
      <div class="item one active">
        <div class="container animated fadeInUp">
          <div class="carousel-caption">
            <h1><i>Welcome Flatiron Alumni</i></h1>
            <h2><i>Be Connected</i></h2>
            <a class="btn-main" href="#"><i class="icon-chevron-right"></i> See More</a>
          </div>
        </div>
      </div>
      
      <!--Item Two-->
      <div class="item two">
        <div class="container">
          <div class="carousel-caption">
            <h1><i>Employers</i></h1>
            <h2><i>Post Jobs To Our Community of Passionate Programmers</i></h2>
            <a class="btn-main" href="#"><i class="icon-chevron-right"></i> See More</a>
          </div>
        </div>
      </div>
      
      <!--Item Three-->
      <div class="item three">
        <div class="container">
          <div class="carousel-caption">
            <h1><i>Lorem ipsum dolor sit</i></h1>
            <h2><i>Curabitur viverra nulla non tel</i></h2>
            <a class="btn-main" href="#"><i class="icon-chevron-right"></i> See More</a>
          </div>
        </div>
      </div>
      
    </div>
    <a class="left carousel-control hidden-phone" href="#header" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="right carousel-control hidden-phone" href="#header" data-slide="next"><i class="icon-angle-right"></i></a>
  </div><!-- /.carousel -->

    <!--Large Well-->
  <section id="well">
    <div class="well well-large">
      <div class="container">
        <div class="row-fluid">
          <div class="span12 text-center">
            <h3><strong>"Make Yourself Useful!"</strong> - <span><em>This is what we do.</em></span></h3>
          </div>
        </div>
      </div>
    </div>
  </section>
 
<%= render 'shared/quote_well' %> 
<%= render 'shared/bottom_section' %>

        





