  <!-- Carousel -->
  <div id="header" class="carousel slide animated fadeIn">
    <div class="carousel-inner">
        <!--Item One-->
      <div class="item one active">
        <div class="container animated fadeInUp">
          <div class="carousel-caption">
            <h1><i>Welcome Flatiron Alumni</i></h1>
            <h2><i>Be Connected</i></h2>
            <a class="btn-main" href="#"><i class="icon-chevron-right"></i> See More</a>
          </div>
        </div>
      </div>
      
      <!--Item Two-->
      <div class="item two">
        <div class="container">
          <div class="carousel-caption">
            <h1><i>Employers</i></h1>
            <h2><i>Post Jobs To Our Community of Passionate Programmers</i></h2>
            <a class="btn-main" href="#"><i class="icon-chevron-right"></i> See More</a>
          </div>
        </div>
      </div>
      
      <!--Item Three-->
      <div class="item three">
        <div class="container">
          <div class="carousel-caption">
            <h1><i>Lorem ipsum dolor sit</i></h1>
            <h2><i>Curabitur viverra nulla non tel</i></h2>
            <a class="btn-main" href="#"><i class="icon-chevron-right"></i> See More</a>
          </div>
        </div>
      </div>
      
    </div>
    <a class="left carousel-control hidden-phone" href="#header" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="right carousel-control hidden-phone" href="#header" data-slide="next"><i class="icon-angle-right"></i></a>
  </div><!-- /.carousel -->

    <!--Large Well-->
  <section id="well">
    <div class="well well-large">
      <div class="container">
        <div class="row-fluid">
          <div class="span12 text-center">
            <h3><strong>"Make Yourself Productive"</strong> - <span><em>This is what we do.</em></span></h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <!--Services Section-->
  <section id="services">
    <div class="container">
      <div class="row-fluid">
        
        <!--Service Section One-->
        <div class="span3 text-center service-box">
          <a href="#">
            <i class="icon-thumbs-up icon-4x blue"></i>
            <h2>Built w/ Bootstrap</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. </p>
          </a>
        </div>
        
        <!--Service Section Two-->
        <div class="span3 text-center service-box">
          <a href="#">
            <i class="icon-flag icon-4x blue"></i>
            <h2>Over 249 Icons</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. </p>
          </a>
        </div>
        
        <!--Service Section Three-->
        <div class="span3 text-center service-box">
          <a href="#">
            <i class="icon-mobile-phone icon-4x blue"></i>
            <h2>Mobile Responsive</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. </p>
          </a>
        </div>
        
        <!--Service Section Three-->
        <div class="span3 text-center service-box">
          <a href="#">
            <i class="icon-file-alt icon-4x blue"></i>
            <h2>Mobile Responsive</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. </p>
          </a>
        </div>

      </div>
    </div>
  </section>
  
  
  <!--Message Section-->
  <section id="message">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 text-center">
          <h2>We strive to out work our competition with an effective approach and a powerful skill set, which is why were industry leading.</h2>
        </div>
      </div>
    </div>
  </section>
  
  
  <!--Clients Section-->
  <section id="clients">
    <div class="image-break"> </div>
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <h2>Our Clients</h2>
          </div>
        </div>
        
        <div class="row-fluid clients text-center">
          
          <!--Insert Client Logos Below-->
          <div class="span2">
            <a href="#"><img src="img/clients1.png" alt="Title"></a>
          </div>
          
          <div class="span2">
            <a href="#"><img src="img/clients2.png" alt="Title"></a>
          </div>
          
          <div class="span2">
            <a href="#"><img src="img/clients3.png" alt="Title"></a>
          </div>
          
          <div class="span2">
            <a href="#"><img src="img/clients4.png" alt="Title"></a>
          </div>
          
          <div class="span2">
            <a href="#"><img src="img/clients1.png" alt="Title"></a>
          </div>
          
          <div class="span2">
            <a href="#"><img src="img/clients4.png" alt="Title"></a>
          </div>
          
        </div>
      </div>
  </section>
  
  
<%= render 'shared/bottom_section' %>

        





