<div class='well'>
  <h3>Recent Projects</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Contributors</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %></td>
          <td><% project.project_contributors.each do |contributor| %>
            <%= link_to contributor.user.name, contributor.user %>
            <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>