// Grays
// -------------------------

$gray-darker:            #272B30;
$gray-dark:              #3A3F44;
$gray:                   #52575C;
$gray-light:             #7A8288;
$gray-lighter:           #999;

// Brand colors
// -------------------------

$brand-primary:         $gray-light;
$brand-success:         #62c462;
$brand-warning:         #f89406;
$brand-danger:          #ee5f5b;
$brand-info:            #5bc0de;

// Scaffolding
// -------------------------

$body-bg:               $gray-darker;
$text-color:            #C8C8C8;

// Links
// -------------------------

$link-color:            #fff;
$link-hover-color:      #fff;

// Forms
// -------------------------

$input-bg:                       #fff;
$input-bg-disabled:              $gray-lighter;

$input-color:                    $gray-darker;
$input-border:                   #ccc;
$input-border-focus:             #66afe9;

$input-color-placeholder:        $gray-light;

$legend-color:                   $text-color;
$legend-border-color:            darken($gray-darker, 5%);

$input-group-addon-bg:           $gray-lighter;
$input-group-addon-border-color: $input-border;


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img { border: 0 }

ol, ul { list-style: none }

ul.bulleted {
  list-style: disc;
  padding-left: 2em;
}

caption, th { text-align: left }

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: 'Merriweather', Georgia, serif;
    font-weight: normal;
}

h2, h3, h4, h5 {
    color: $gray-dark;
}

h1, h6 { color: white;}

html { height: 100% }

body {
    font: 14px/24px "Merriweather", Georgia, serif;
    margin: 0 auto;
    padding: 0;
    background: $gray-dark;
    overflow-x: hidden;
    height: 100%;
    color: $gray-lighter;
}

hr {
    margin: 20px 0 30px;
    border: 0;
    border-bottom: 1px dotted #ddd;
    height: 1px;
}

h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
}

h3, h4, h5, h6 {
    line-height: 28px;
    margin-bottom: 12px;
}

h3 { font-size: 18px }

h4 { font-size: 16px }

h5 { font-size: 14px }

h6 {
    font-size: 13px;
    /*color: #bfbfbf;*/
    text-transform: uppercase;
}

p { margin-bottom: 15px }

.clear {
    clear: both;
    font-size: 0px;
    line-height: 0px;
    display: block;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.clearfix {
    *display: inline-block;
    height: 1%;
}

.last { margin-right: 0 !important }

blockquote p {
    position: relative;
    font-family: 'Merriweather', Georgia, serif;
    color: $gray-dark;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 15px 0 15px 30px; 
    margin: 25px 0;
}

blockquote p:before {
    position: absolute;
    left: 0;
    top: 14px;
    content: "\f0e5";
    font-family: "FontAwesome";
    display: block;
}

::selection {
    /*background: #fff666;*/
    /*color: #222;*/
}

::-moz-selection {
    /*background: #fff666;*/
    /*color: #222;*/
}

img {
    max-width: 100%;
    height: auto;
}



/* ==[ svg logos ]==================================================================== */

object, svg {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

object#minify {
   width: 239px;
   height: 23px;
   display: none;
   margin-top: 12px;
   margin-left: -20px;
   pointer-events: none;
}

object#bigify {
    width: 140px;
    height: 89px; 
    display: block;
    padding: 5px 3px 3px;
    display: block;
    pointer-events: none;
}

.header-left a {
    display: inline-block;
    width: auto;
    height: auto;
}



/* ===[ Layout Styles ]===================================================== */

.main-wrapper {
    width: 100%;
    margin: 0 auto;
}


.header-wrapper {
    width: 100%;
    margin: 0 0 0 0;
    padding: 10 10 10 10;
    position: fixed;
    z-index: 99999;
    background: $gray-dark;
}

.signin-wrapper {
    width: 100%;
    margin: 0 0 0 0;
    position: fixed;
    z-index: 99999;
    background: $gray-dark;
}

.header-hidden-wrap {
    z-index: 999;
    position: relative;
}

.header-hidden {
    margin: 0 auto;
    max-width: 980px;
    padding: 10px 10px 0px 10px;
    position: relative;
    display: none;
    background: $gray-dark;
}

.header-hidden-toggle-wrap {
    max-width: 980px;
    position: relative;
    margin: 0 auto;
}

.show-hidden {
    margin-top: 0;
    -webkit-transition: .1s ease-in;
    -moz-transition: .1s ease-in;
    -o-transition: .1s ease-in;
    transition: .1s ease-in;
}

.hidden-toggle {
    position: absolute;
    right: 0px;
    bottom: -35px;
    display: block;
    width: 21px;
    height: 21px;
    text-align: right;
    color: #ccc;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}

.show-hidden .hidden-toggle {

}

.header-hidden-left {
    width: 60%;
    float: left;
    font-size: 12px;
    line-height: 20px;
    /*color: #999;*/
    padding-top: 3px;
}

.header-hidden-right { 
    float: right;
    width: 40%;
}

.lights {
    float: right;
    color: #aaa;
}

.icons {
    float: right;
}

.icons a {
    margin-bottom: 0 !important;
}

.header {
    max-width: 980px;
    margin: 0 auto;
    border-bottom: solid 1px #eee;
}

.header-left {
    width: 25%;
    float: left;
}

.header-left img { padding: 0 0 0 0 }

.header-left h1 { 
    margin: 5px 0 0 0;
}

.header-left h1 a {
    color: #555;
    text-decoration: none;
    font-size: 34px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -2px;
    -webkit-transition: .04s ease-in;  
    -moz-transition: .04s ease-in;
    transition: .04s ease-in; 
}

.header-left h1 a:hover {
    color: #999;
    -webkit-transition: .04s ease-in;  
    -moz-transition: .04s ease-in;
    transition: .04s ease-in;
}

.logo {
    padding-bottom: 5px;
}

.header-right {
    width: 75%;
    float: right;
    padding-top: 40px;
}

/* ===[ Header Navigation Styles ]===================================================== */

.select-menu, .select { display: none }

.menu-main-container { position: relative }

#nav { float: right }

#nav, #nav ul {
    margin: 13px 0 0 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    line-height: 1.5em;
    z-index: 1000;
}

#nav a, #nav span {
    display: block;
    padding: 5px;
    /*color: #aaa;*/
    text-decoration: none;
    text-align: left;
    outline: none;
    font-weight: normal;
    font-family: 'Merriweather', Georgia, serif;
}

#nav a.main-nav span {
    cursor: pointer;
    padding: 0;
    /*color: #26c4ff;*/
}

#nav > .current-menu-item > a, #nav > li a:hover { color: #4C4C4C }

.plus { color: #aaa }

#nav ul {
    position: absolute;
    display: none;
    top: 15px;
}

#nav li {
    float: left;
    position: relative;
    list-style-type: none;
    padding-bottom: 17px;
}

#nav li a, #nav span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 15px;
}

#nav > li > a { padding: 5px 12px }

#nav span { 
  padding: 5px 12px;
  cursor: default;
}
#nav > li:last-child a {
    margin-right: 0px;
    padding-right: 0px;
    border-right: none;
}

#nav > li:first-child a {

}

#nav li ul a {
    width: 150px;
    height: auto;
    float: left;
    font-size: 12px;
    /*color: #999;*/
}

#nav .sub-menu {
    box-shadow: rgba(0,0,0, 0.07) 0px 1px 2px;
    -moz-box-shadow: rgba(0,0,0, 0.07) 0px 1px 2px;
    -webkit-box-shadow: rgba(0,0,0, 0.07) 0px 1px 2px;
}

#nav .sub-menu li {
    background: #fff;
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;
}

#nav .sub-menu li:first-child { border-top: solid 1px #eee }

#nav > li > ul { margin-top: 15px }

#nav li ul li {
    border-bottom: solid 1px #eee;
    padding-bottom: 0px;
}

#nav li ul li:last-child { border-bottom: none }

#nav li ul li a {
    margin-right: 0px;
    font-size: 10px;
}

#nav li ul li a:hover {
    /*background: #f9f9f9;*/
    color: #555;
}

#nav ul ul { top: auto; }

#nav ul ul li:first-child { border-top: solid 1px #eee }

#nav li ul ul {
    left: 150px;
    margin: -1px 0 0 0;
    padding-right: 5px;
}

#nav li ul ul li { border-top: none }

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul { display: none }

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul { display: block }

/* ===[ Title Styles ]===================================================== */

.home .page-title {
    text-align: center;
    border-bottom: none;
}

.error404 .page-title {
    text-align: center;
}

.page-title {
    border-bottom: solid 1px #eee;
    padding: 30px 0;
    margin-bottom: 40px;
    position: relative;
}

.page-title-portfolio {
    border-bottom: none;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    position: relative;
}

.page-title a { color: #4c4c4c }

.page-title h2 {
    margin-bottom: 0px;
    font-size: 34px;
    letter-spacing: -1px;
    line-height: 42px;
}

.page-title h3 {
    color: #aaa;
    font-size: 16px;
    line-height: 24px;
    margin: 5px 0 0 0;
}

.page-title h3 a { color: #aaa }

.post-nav {
    position: absolute;
    bottom: 50px;
    right: 0;
    font-size: 11px;
    text-transform: uppercase;
}

.post-nav a {
    color: #aaa;
    margin-left: 20px;
    float: right;
}

.post-nav a:hover { color: #555 }


/* ===[ Default Widget Styles ]===================================================== */

.widget_archive select {
    width: 100%;
}

#wp-calendar {
    width: 100%;
}

#wp-calendar caption {
    text-align: center;
    margin-bottom: 5px;
}

.widget_rss li {
    margin: 0 0 15px 0 !important;
    list-style-type: none !important;
}

.widget_rss .rsswidget {
    width: 100%;
}

.widget_rss .rss-date {
    width: 100%;
    float: left;
    font-size: 11px;
    color: #999;
}

.widget_rss cite {
    color: #999;
    font-size: 11px;
}

#sidebar .wp-caption {
    width: 100%;
    text-align: center;
    color: #999;
}

.widget_text {
    word-wrap: break-word;
}


/* ===[ Section Styles ]===================================================== */

.container {
    max-width: 980px;
    margin: 0 auto;
    padding-top: 140px;
}

#sections {
    max-width: 980px;
    margin: 0 auto;
    padding-top: 140px;
}

.section-title {
    letter-spacing: 5px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    padding: 5px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.section-title span {
    background: #fff;
    padding: 0 15px;
}

.section:first-child {
    padding-top: 0px;
    border-top: none;
}

.section {
    padding: 0 0 0 0;
    float: left;
    width: 100%;
    position: relative;
}



/* ===[ Content Styles ]===================================================== */

.content {
    width: 70%;
    float: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.content-full {
    width: 100%;
}

.portfolio-full { 
    padding-top: 30px;
    max-width: 980px !important
}

.archive .portfolio-full {
    padding-top: 0;
}

.content ul, .content ol { 
    margin: 0 0 20px 15px;
}

.content ul li {
    list-style-type: square;
    margin-bottom: 5px;
}

.content ol li {
    list-style-type: decimal;
}

/* ===[ Footer Styles ]===================================================== */

.footer { 
    width: 100%;
    margin-top: 20px;
 }

.footer-text {
    max-width: 980px;
    margin: 0 auto;
    padding: 10px 0px 30px 0px;
    border-top: solid 1px #eee;
    border-bottom: solid 0px #eee;
}

.footer-text-left {
    float: left;
}

.footer-text-left ul { float: left }

.footer-text-left ul li {
    float: left;
    display: inline;
    margin: 0 5px 0 0;
}

.footer-text-left ul li a {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: $gray-light;
    text-decoration: none;
    padding: 0px 10px 0 0;
}

.footer-text-left ul li a:hover {
    color: #555;
}

.footer-text-left ul li:first-child { padding-left: 0px }

.footer-text-left ul li.last { padding: 3px 0 0 0 }

.footer-text-right {
    float: right;
    font-size: 11px;
    color: $gray-light;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-text-right a { color: #4c4c4c }

.footer-text-right a:hover { color: #999 }

.footer-widgets {
    max-width: 980px;
    margin: 50px auto 0 auto;
    padding: 0px 0 75px 0;
    border-top: solid 5px #f2f2f2;
}

.footer-widgets-wrap {
    margin-left: -5%;
}

.footer-widget {
    width: 33%;
    float: left;
    padding: 30px 0 0 5%;
    font-size: 12px;
}

.footer-widget:last-child {
    
}

.footer-widget a { text-decoration: none }

.footer-widget ul { margin: 0 0 0 0 }

.footer-widget li {
    margin-left: 15px;
    list-style-type: square;
}

.footer-widget p { line-height: 22px }

.footer-widget h2 {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    line-height: 24px;
    padding: 0 0 5px 0;
    margin: 0 0 20px 0;
    border-bottom: solid 1px #eee;
}


/* ==[ twitter widget ]===============================*/

.footer-widget .tweet {
    margin-left: 0;
}

/* == [ Responsive iFrame ]=========================== */
 
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}