

/* ==[ svg logos ]==================================================================== */

object, svg {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

object#minify {
   width: 239px;
   height: 23px;
   display: none;
   margin-top: 12px;
   margin-left: -20px;
   pointer-events: none;
}

object#bigify {
    width: 140px;
    height: 89px; 
    display: block;
    padding: 5px 3px 3px;
    display: block;
    pointer-events: none;
}

.header-left a {
    display: inline-block;
    width: auto;
    height: auto;
}